
body, html
{
	margin   : 0px;
	padding  : 0px;
	overflow : hidden;
}

.copyright
{
	.font-size(11, font-regular);
	position   : absolute;
	text-align : left;
	width      : 100%;
	bottom     : 0px;
	span
	{
		padding : 0px 10px;
	}

}

.container
{
	position : absolute;
	display  : table;
	width    : 100%;
	height   : 100%;
	.row
	{
		display : table-row;
		height  : @height;
		.cell
		{
			display : table-cell;
			&:first-child
			{
				width          : 32.3%;
				height         : @height;
				vertical-align : middle;
			}
			&:last-child
			{
				width : 67.7%;
			}
		}
	}
}

.que-row
{
	color : @queuing;
	.description
	{
		color : @queuing !important;
	}
}

.ticket-row
{
	color : @ticket;
	.description
	{
		color : @ticket !important;
	}
}

.app-row
{
	color : @app;
	.description
	{
		color : @app !important;
	}

}

.queuing
{
	background-color : @queuing;
	background-image : -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #99e34f), color-stop(0.5, #81ce34));
	background-image : -o-linear-gradient(bottom, #99e34f 50%, #81ce34 50%);
	background-image : -moz-linear-gradient(bottom, #99e34f 50%, #81ce34 50%);
	background-image : -webkit-linear-gradient(bottom, #99e34f 50%, #81ce34 50%);
	background-image : -ms-linear-gradient(bottom, #99e34f 50%, #81ce34 50%);
	background-image : linear-gradient(to bottom, #99e34f 50%, #81ce34 50%);
	.digit
	{
		&:before
		{
			border-right : 1px solid @queuing-border;
		}
	}
	.separator
	{
		//background-color : @queuing-border;;
	}
}

.apps
{
	background-color : @app;
	background-image : -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #ff972f), color-stop(0.5, #ff8000));
	background-image : -o-linear-gradient(bottom, #ff972f 50%, #ff8000 50%);
	background-image : -moz-linear-gradient(bottom, #ff972f 50%, #ff8000 50%);
	background-image : -webkit-linear-gradient(bottom, #ff972f 50%, #ff8000 50%);
	background-image : -ms-linear-gradient(bottom, #ff972f 50%, #ff8000 50%);
	background-image : linear-gradient(to bottom, #ff972f 50%, #ff8000 50%);
	.digit
	{
		&:before
		{
			border-right : 1px solid @app-border;
		}
	}
	.separator
	{
		//background-color : @app-border;;
	}
	.part0, .separator1
	{
		visibility : hidden;
	}
	.part2
	{
		.digit
		{
			&:nth-child(1), &:nth-child(2), {
				visibility : hidden;
			}
		}
	}
}

.tickets
{
	background-color : @ticket;
	background-image : -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #3cb6e3), color-stop(0.5, #00a4df));
	background-image : -o-linear-gradient(bottom, #3cb6e3 50%, #00a4df 50%);
	background-image : -moz-linear-gradient(bottom, #3cb6e3 50%, #00a4df 50%);
	background-image : -webkit-linear-gradient(bottom, #3cb6e3 50%, #00a4df 50%);
	background-image : -ms-linear-gradient(bottom, #3cb6e3 50%, #00a4df 50%);
	background-image : linear-gradient(to bottom, #3cb6e3 50%, #00a4df 50%);
	.digit
	{
		&:before
		{
			border-right : 1px solid @ticket-border;
		}
	}
	.separator
	{
		//background-color : @ticket-border;;
	}
	.part0, .separator1
	{
		visibility : hidden;
	}
	.part2
	{
		.digit
		{
			&:first-child
			{
				visibility : hidden;
			}
		}
	}
}

.inline
{
	display : inline-block;
	float   : left;

	&.sprite
	{
		width      : 45%;
		text-align : right;
	}
	&.description
	{
		.font-size(32);
		font-family : font-regular;
		width       : 45%;

		&.mobile
		{
			margin-top : 20px;
		}
	}
}

[class*="icon-"]
{
	.font-px-em(150);
	margin-right : 30px;
}

.table
{
	display : table;
	width   : 100%;
	height  : 100%;
}

.counter-analog
{
	display     : table-row;
	width       : 100%;
	height      : 100%;
	.font-size(85);
	font-family : font-regular;
	color       : #ffffff;

	.part, .separator
	{
		display        : table-cell;
		vertical-align : middle;
		text-align     : center;
		height         : 100%;
	}
	.digit
	{
		display    : inline-block;
		position   : relative;
		text-align : center;
		margin     : 0px;
		padding    : 0px;
	}
	.part0
	{
		width      : 10%;
		text-align : center;
		.digit
		{
			width : 100%;
		}
	}
	.part2, .part4, .part6
	{
		width : 27.5%;
		.digit
		{
			width : 100% /3;
		}

	}
}

.reset-button
{
	position : absolute;
	cursor   : pointer;
	width    : 50px;
	height   : 50px;
	z-index  : 1050;
	right    : 0px;
	bottom   : 0px;
}