
@font-face {
	font-family: 'icomoon';
	src:url('fonts/accesso/icomoon.eot');
	src:url('fonts/accesso/icomoon.eot?#iefix') format('embedded-opentype'),
	url('fonts/accesso/icomoon.ttf') format('truetype'),
	url('fonts/accesso/icomoon.woff') format('woff'),
	url('fonts/accesso/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ticket:before {
	content: "\e600";
}
.icon-phone:before {
	content: "\e601";
}
.icon-clock:before {
	content: "\e602";
}
