// ============================================
//      FONT SIZES
// ============================================

.font-size(@size:11,@font-family:inherit,@color:@color-primary) {
	font-size   : (((16 / 12) * @size) / 16) * 1em;
	font-family : @font-family;
	color       : @color;
}

.font-px-em(@size:22) {
	font-size : (@size / 16) * 1em;
}

// ============================================
//				CSS3
// ============================================
.animation( @arguments ) {
	-webkit-animation : @arguments; /* Safari 4+ */
	-moz-animation    : @arguments; /* Fx 5+ */
	-o-animation      : @arguments; /* Opera 12+ */
	animation         : @arguments; /* IE 10+ */
}


// Transitions
.transition(@speed:1000ms, @control:linear) {
	-webkit-transition : @arguments;
	-moz-transition    : @arguments;
	-c-transition      : @arguments;
	-o-transition      : @arguments;
	transition         : @arguments;
}



.transition-duration(@speed:@menu-transition-speed) {
	-webkit-transition-duration : @arguments;
	-moz-transition-duration    : @arguments;
	-ms-transition-duration     : @arguments;
	-o-transition-duration      : @arguments;
	transition-duration         : @arguments;
}

.webkit-overflow(@touch) {
	-webkit-overflow-scrolling : @touch;
	-moz-overflow-scrolling    : @touch;
	-ms-overflow-scrolling     : @touch;
	-o-overflow-scrolling      : @touch;
	overflow-scrolling         : @touch;
}

.transform-origin(@x:50%,@y:50%) {
	-webkit-transform-origin : @arguments;
	-moz-transform-origin    : @arguments;
	-ms-transform-origin     : @arguments;
	transform-origin         : @arguments;
}




.rotateY(@degrees) {
	-webkit-transform : rotateY(@degrees);
	-moz-transform    : rotateY(@degrees);
	-ms-transform     : rotateY(@degrees);
	-o-transform      : rotateY(@degrees);
	transform         : rotateY(@degrees);
}

.rotate(@degrees) {
	-webkit-transform : rotate(@degrees);
	-moz-transform    : rotate(@degrees);
	-ms-transform     : rotate(@degrees);
	-o-transform      : rotate(@degrees);
	transform         : rotate(@degrees);
}

.translateX(@degrees) {
	-webkit-transform : translateX(@degrees);
	-moz-transform    : translateX(@degrees);
	-ms-transform     : translateX(@degrees);
	-o-transform      : translateX(@degrees);
	transform         : translateX(@degrees);
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden
// See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
.backface-visibility(@visibility) {
	-webkit-backface-visibility : @visibility;
	-moz-backface-visibility    : @visibility;
	-ms-backface-visibility     : @visibility;
	-o-backface-visibility      : @visibility;
	backface-visibility         : @visibility;
}

// Background clipping
// Heads up: FF 3.6 and under need "padding" instead of "padding-box"
.background-clip(@clip) {
	-webkit-background-clip : @clip;
	-moz-background-clip    : @clip;
	-ms-background-clip     : @clip;
	-o-background-clip      : @clip;
	background-clip         : @clip;
}

.font-smoothing(@font) {
	-webkit-font-smoothing : @font;
	-moz-font-smoothing    : @font;
	-ms-font-smoothing     : @font;
	-o-font-smoothing      : @font;
	font-smoothing         : @font;
}

// Box sizing
.box-sizing(@boxmodel) {
	-webkit-box-sizing : @boxmodel;
	-moz-box-sizing    : @boxmodel;
	-o-sizing          : @boxmodel;
	-ms-sizing         : @boxmodel;
	box-sizing         : @boxmodel;
}

// Opacity
.opacity(@opacity) {
	-o-focus-opacity : @opacity / 100;
	opacity          : @opacity / 100;
	filter           : ~"alpha(opacity=@{opacity})";
}

// ============================================
//				ENABLE/DISABLE MOUSE/TOUCH SELECT
// ============================================

.select-enabled{
	-webkit-touch-callout : default;
	-webkit-user-select   : text;
	-khtml-user-select    : text;
	-moz-user-select      : text;
	-ms-user-select       : text;
	-o-user-select        : text;
	user-select           : text;
}

.select-disabled{
	-webkit-touch-callout : none;
	-webkit-user-select   : none;
	-khtml-user-select    : none;
	-moz-user-select      : none;
	-ms-user-select       : none;
	-o-user-select        : none;
	user-select           : none;
}

// ============================================
//				MISC HELPERS
// ============================================

.cursor{
	cursor : hand;
	cursor : pointer;
}

// ============================================
//				ROUNDED CORNERS
// ============================================

.border-radius (@radius: 5px) {
	border-radius         : @radius;
	-webkit-border-radius : @radius;
	-moz-border-radius    : @radius;
	-ms-border-radius     : @radius;
	-o-border-radius      : @radius;
	border-radius         : @radius;
}

.oval-corners (@radius: 200px) {
	-webkit-border-radius : @radius;
	-moz-border-radius    : @radius;
	-ms-border-radius     : @radius;
	-o-border-radius      : @radius;
	border-radius         : @radius;
}

.right-oval-corners (@radius: 200px) {
	border-left           : none;
	-webkit-border-radius : 0 @radius @radius 0;
	-moz-border-radius    : 0 @radius @radius 0;
	-ms-border-radius     : 0 @radius @radius 0;
	-o-border-radius      : 0 @radius @radius 0;
	border-radius         : 0 @radius @radius 0;
	margin                : 0;
}

.left-oval-corners (@radius: 200px) {
	border-right          : none;
	-webkit-border-radius : @radius 0 0 @radius;
	-moz-border-radius    : @radius 0 0 @radius;
	-ms-border-radius     : @radius 0 0 @radius;
	-o-border-radius      : @radius 0 0 @radius;
	border-radius         : @radius 0 0 @radius;
	margin                : 0;
}

