.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal{
		.font-size(95);
	font-family : font-regular;
	color       : #ffffff;

	.odometer-inside{
		zoom: 1;
	}

	.odometer-digit,.odometer-formatting-mark{
		height: 100%;
		padding: 0px 10px;
	}


}


.queuing-odometer{
	&.odometer-animating-up{
		.odometer-ribbon-inner{
			.transition(1000ms)
		}

	}
}

.ticket-odometer{
	&.odometer-animating-up{
		.odometer-ribbon-inner{
			.transition(500ms)
		}

	}
}

.app-odometer{

	&.odometer-animating-up{
		.odometer-ribbon-inner{
			.transition(1000ms)
		}

	}
}



.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal{
	display         : -moz-inline-box;
	-moz-box-orient : vertical;
	display         : inline-block;
	vertical-align  : middle;
	*vertical-align : auto;
	position        : relative;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal{
	*display : inline;
}

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal .odometer-digit{
	display         : -moz-inline-box;
	-moz-box-orient : vertical;
	display         : inline-block;
	vertical-align  : middle;
	*vertical-align : auto;
	position        : relative;
}

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal .odometer-digit{
	*display : inline;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer{
	display         : -moz-inline-box;
	-moz-box-orient : vertical;
	display         : inline-block;
	vertical-align  : middle;
	*vertical-align : auto;
	visibility      : hidden;
	height: 100%;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-spacer{
	*display : inline;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-digit-inner{
	text-align : left;
	display    : block;
	position   : absolute;
	top        : 0;
	left       : 0;
	right      : 0;
	bottom     : 0;
	overflow: hidden;

}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon{
	display : block;
	height: 100%;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-minimal .odometer-digit .odometer-ribbon-inner{
	display                     : block;
	-webkit-backface-visibility : hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value{
	display           : block;
	-webkit-transform : translateZ(0);

}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-minimal .odometer-digit .odometer-value.odometer-last-value{
	position : absolute;
}

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-up.odometer-animating .odometer-ribbon-inner{
	-webkit-transform : translateY(-100%);
	-moz-transform    : translateY(-100%);
	-ms-transform     : translateY(-100%);
	-o-transform      : translateY(-100%);
	transform         : translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down .odometer-ribbon-inner{
	-webkit-transform : translateY(-100%);
	-moz-transform    : translateY(-100%);
	-ms-transform     : translateY(-100%);
	-o-transform      : translateY(-100%);
	transform         : translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-minimal.odometer-animating-down.odometer-animating .odometer-ribbon-inner{
	-webkit-transition : -webkit-transform 2s;
	-moz-transition    : -moz-transform 2s;
	-ms-transition     : -ms-transform 2s;
	-o-transition      : -o-transform 2s;
	transition         : transform 2s;
	-webkit-transform  : translateY(0);
	-moz-transform     : translateY(0);
	-ms-transform      : translateY(0);
	-o-transform       : translateY(0);
	transform          : translateY(0);
}