@font-face
{
	font-family : font-regular;
	src         : url('fonts/MuseoSans_300.otf');

}

font-face
{
	font-family : font-semi-bold;
	src         : url('fonts/MuseoSans_500.otf');

}
@font-face
{
	font-family : font-bold;
	src         : url('fonts/MuseoSans_700.otf');

}


// ============================================
//        FONT IMPORTS
// ============================================


.font-regular (@size: inherit) {
	font-family : font-regular;
	font-weight : normal;
	font-size   : @size;
}

.font-regular-italic (@size: inherit) {
	font-family : font-regular-italic;
	font-weight : normal;
	font-style  : italic;
	font-size   : @size;

}

.font-semi-bold (@size: inherit) {
	font-family : font-semi-bold;
	font-weight : 500;
	font-size   : @size;
}

.font-semi-bold-italic  (@size: inherit) {
	font-family : font-semi-bold-italic;
	font-weight : 500;
	font-size   : @size;
}

.font-bold (@size: inherit) {
	font-family : font-bold;
	font-weight : 700;
	font-weight : normal;
	font-size   : @size;
}

.font-bold-italic  (@size: inherit) {
	font-family : font-bold-italic;
	font-weight : 700;
	font-weight : normal;
	font-size   : @size;
}

@color-primary:#444;
@height: 100% /3;

@ticket: #00a5df;
@ticket-border: #0080ff;

@app: #ff8100;
@app-border: #cf6300;

@queuing: #82ce34;
@queuing-border: #00ac4d;


@import "mixins.less";
@import "icon.less";
@import "counter.less";
//@import "odometer.less";

