<div class="container">
	<div class="row que-row">
		<div class="cell">
			<div class="inline sprite">
				<span class="icon-clock"></span>
			</div>
			<div class="inline description save">
				Time we saved our guests.
			</div>
		</div>
		<div class="cell queuing">
			<div class="table">
				<span id="queuing" class="counter-analog">{{scroller.queuing.start}}</span>
			</div>
		</div>
	</div>
	<div class="row ticket-row">
		<div class="cell">
			<div class="inline sprite">
				<span class="icon-ticket"></span>
			</div>
			<div class="inline description ticket">
				Tickets sold through our systems.
			</div>
		</div>
		<div class="cell tickets">
			<div class="table">
				<span id="ticketing" class="counter-analog">{{scroller.ticketing.start}}</span>
			</div>
		</div>
	</div>
	<div class="row app-row">
		<div class="cell">
			<div class="inline sprite">
				<span class="icon-phone"></span>
			</div>
			<div class="inline description mobile">
				Mobile Apps downloaded.
			</div>
		</div>
		<div class="cell apps">
			<div class="table">
				<span id="apps" class="counter-analog">{{scroller.apps.start}}</span>
			</div>

		</div>
	</div>
</div>
<div class="copyright">
	<span>Data illustrative only. &#169;accesso Technology Group, plc</span>
</div>